<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <nav>
    <div class="navigation">
      <a href="/">Home</a>
      {{#if user}}
      <a href="/main">Main Page</a>
      {{/if}}
    </div>
    <div class="user">
      {{#if user}}
        <a href="/users/profile">See Profile</a>
        <a href="/users/logout">Log out</a>
      {{else}}
        <a href="/auth/signup">Create an account</a>
        <a href="/users/login">Log in</a>
      {{/if}}
    </div>
    
  </nav>
  <body>

    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>